.x {
    display: none  !important;
}
.container {
    display: block;
}

form {
    position: absolute;
    left: 40em;
    top: 15em;
    width: 27%;
    text-align: center;
    background: green;
    padding: 3em;
    border-radius: 3px;
    box-shadow: 2px 5px 8px #000000;
}
h2 {
    background: blueviolet;
    padding: .7em;
    border-radius: 3px;
    font: bold 15px cursive;
}
button {
    width: 100%;
    padding: .9em;
    border-radius: 2px;
    border: 2px solid black;
    font: 800 14px cursive;
    cursor: pointer;
}
button:hover {
    border: 2px solid orangered;
    background: white;
}
label {
    color: aliceblue;
    padding: 6px;

}
span {
    color: white;
    padding: 6px;
    text-decoration: underline;
    cursor: pointer;
}
@media (max-width: 1200px)
{
    form {
        position: absolute;
        left: 15em;
        top: 15em;
        width: 35%;
        text-align: center;
        background: green;
        padding: 3em;
        border-radius: 3px;
        box-shadow: 2px 5px 8px #000000;
    }
}
@media (max-width: 800px)
{
    form {
        position: absolute;
        left: 10em;
        top: 15em;
        width: 50%;
        text-align: center;
        background: green;
        padding: 3em;
        border-radius: 3px;
        box-shadow: 2px 5px 8px #000000;
    }
}
@media (max-width: 400px)
{
    form {
        position: absolute;
        top: 15em;
        width: 100%;
        text-align: center;
        background: green;
        padding: 1em;
        border-radius: 3px;
        box-shadow: 2px 5px 8px #000000;
    }
}