<app-navbar></app-navbar>
<div class="container"> 
  <form #login="ngForm" (ngSubmit)="Onsubmit(login)">
    <h2 style="background: plum;">log in</h2>
    <label for="Email">Email </label> <br>
    <input type="email" name="email" [pattern]="emailPattern" class="form-control" placeholder="enter email"  #Email ngModel required/>
    <label>password</label><br>
    <input placeholder="password" type="password" class="form-control" name="pwd" #pwd ngModel required/> <br> <br>
    <button [disabled]= "!login.valid" style="background: orangered;">login</button><br><br>
    <span (click)="changeOne()" >or sign up?</span><br><br>
    <span>forgot password?</span>
  </form>
</div>
<div class="container x"> 
    <form #login="ngForm" (ngSubmit)="Onsubmit(login)">
       <h2 style="background: yellow;">sign up</h2>
      <label for="Email">Email </label> <br>
      <input type="email" name="email" [pattern]="emailPattern" class="form-control" placeholder="enter email"  #Email ngModel required/>
      <label>password</label><br>
      <input placeholder="password" type="password" class="form-control" name="pwd" #pwd ngModel required/> <br> <br>
      <button [disabled]= "!login.valid" style="background: orangered;">sign up</button><br><br>
      <span (click)="changeTwo()">or log in?</span>
    </form>
  </div>