<app-navbar></app-navbar>
<div class="container" style="margin-top:5em;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="container">
        <div class="row">
          <div class="col-md-3 s">add to cart</div>
          <div class="col-md-3 s">name</div>
          <div class="col-md-3 s">type</div>
          <div class="col-md-3 " >cost</div>
        </div>
      </div>
    </div>
    <div class="panel-body" *ngIf="selectedProduct">
        <div class="container">
            <div class="row" >
                <div class="col-md-1 s"><h5 class="x">remove</h5></div>
              <div class="col-md-2 s"><img [src]="selectedProduct.image" width="30px" height="30px"/></div>
              <div class="col-md-3 s">{{ selectedProduct.name }}</div>
              <div class="col-md-3 s">{{ selectedProduct.type }}</div>
              <div class="col-md-3 cost">{{ selectedProduct.cost }} kshs.</div>
            </div>
          </div>
    </div>
    <div class="panel-footer" *ngIf="selectedProduct">Total : {{ selectedProduct.totalCost }} kshs.</div>
  </div>
</div>