
<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="img">
        <div class="favicon">
          <img src="/assets/logo.png" alt="" width="100%">
          <p>for the most tastiest food delicacies in town</p>
          <a href="/shop"><button class="button">order now</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="gallery">
      <div class="col-md-5">
        <img src="/assets/food1.jpg" alt="" width="100%" height="330">
        <h3>$50 cocktail chocolate</h3><br>
        <button><h2>add to cart</h2></button>
      </div>
      <div class="col-md-5">
        <img src="/assets/food5.jpg" alt="" width="100%" height="330">
        <h3>$60 roasted cinamon meat</h3><br>
        <button><h2>add to cart</h2></button>
      </div>
      <div class="col-md-5">
        <img src="/assets/food10.jpg" alt="" width="100%" height="330">
        <h3>$120 salad</h3><br>
        <button><h2>add to cart</h2></button>
      </div>
      <div class="col-md-5">
        <img src="/assets/food4.jpg" alt="" width="100%" height="330">
        <h3>$30 uncooked chopped vegetables</h3><br>
        <button><h2>add to cart</h2></button>
      </div>
    </div>
  </div>
</div>

  <div class="well well-lg">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                copyright @ {{ year }}
            </div>
        </div>
    </div>
</footer>
