
<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="img">
        <div class="favicon">
          <img src="/assets/logo.png" alt="" width="100%">
          <p>for the most tastiest food delicacies in town</p>
          <a href="/shop"><button class="button">order now</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="gallery">
      <div class="col-md-5">
        <img src="/assets/food1.jpg" alt="" width="100%" height="330">
        <h3>cocktail chocolate</h3><br>
        <button><h2>50.00 ksh</h2></button>
      </div>
      <div class="col-md-5">
        <img src="/assets/food5.jpg" alt="" width="100%" height="330">
        <h3>roasted cinamon meat</h3><br>
        <button><h2>70.00 ksh</h2></button>
      </div>
      <div class="col-md-5">
        <img src="/assets/food10.jpg" alt="" width="100%" height="330">
        <h3>salad</h3><br>
        <button><h2>350.00 ksh</h2></button>
      </div>
      <div class="col-md-5">
        <img src="/assets/food4.jpg" alt="" width="100%" height="330">
        <h3> uncooked chopped vegetables</h3><br>
        <button><h2>90.00 ksh</h2></button>
      </div>
    </div>
  </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                copyright @ 2019
            </div>
        </div>
    </div>
</footer>
